@model CabBooking.Models.NewBooking
@{
    ViewBag.Title = "FastYatra";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div id="searchbox-overlay"></div>
<div id="popup-sidebox" class="popup-sidebox">
    <div class="sidebox-content">
        <div class="site-logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="logo"></a>
        </div>
        <p>
            Everything your taxi business needs is already here! Fast Yatra, a theme
            made for taxi service companies.
        </p>
        <ul class="sidebox-list">
            <li class="call"><span>Call for ride:</span>9455036259</li>
            <li>
                <span>You can find us at:</span>Ayodhya Uttar Pradesh, India
            </li>
            <li><span>Email now:</span><a href="mailto:Support@Fastyatra.Com" class="__cf_email__" data-cfemail="c68fa8a0a9e8b4afa2a3ad86aba7afaae8a5a9ab">Support@Fastyatra.Com</a></li>
        </ul>
    </div>
</div>

<div id="sidebox-overlay"></div>
<div class="slider-section">
    <div class="main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-img"><img src="~/Content/NewAssets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="car-holder">
                    <img src="~/Content/NewAssets/img/car-1.png" alt="car" data-animation="car-animation" data-duration="1.5s">
                    <div class="shape">
                        <div data-animation="slide-in-bottom" data-duration="1.5s" data-delay="0.3s"></div>
                        <div data-animation="fade-in" data-duration="1.5s" data-delay="0.2s"></div>
                        <div data-animation="slide-in-top" data-duration="1.5s" data-delay="0.5s"></div>
                    </div>
                </div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content">
                            @*<div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                            Travel securely with us!
                                        </div>
                                    </div>
                                </div>*@
                            <div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s" style="font-size: 30px;">
                                        सुरक्षित और सुविधाजनक सफर का अनुभव करे !
                                        <br />
                                        हमारे कैब सर्विसेज के साथ चले!!
                                    </div>
                                </div>
                            </div>
                            @*<div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Everything your taxi business needs is already here! <br>Fast Yatra made for taxi
                                            service companies!
                                        </div>
                                    </div>
                                </div>*@
                            <div class="slider-btn">
                                <a href="#BookingSection1" class="default-btn" data-animation="fade-in-bottom" data-delay="0.9s">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                @*<div class="slider-img"><img src="~/Content/NewAssets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>*@
                <div class="slider-img"><img src="~/Content/NewAssets/img/banner_2.jpeg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="car-holder"style="right: 50px;">
                    @*<img src="~/Content/NewAssets/img/car-1.png" alt="car" data-animation="car-animation" data-duration="1.5s">*@
                    @*<div class="shape">
                            <div data-animation="slide-in-bottom" data-duration="1.5s" data-delay="0.3s"></div>
                            <div data-animation="fade-in" data-duration="1.5s" data-delay="0.2s"></div>
                            <div data-animation="slide-in-top" data-duration="1.5s" data-delay="0.5s"></div>
                        </div>*@
                    <div class="slider-caption big">
                        <div class="inner-layer">
                            <div data-animation="fade-in-bottom" data-delay="0.5s" style="font-size: 30px;">
                                हाथ में कार हो,
                                <br />
                                म्यूजिक दमदार हो,
                                <br />
                                साथ बैठे मेरे यार हो,
                                <br />
                                और देखने वाले हर ग्राहक बोले,
                                <br />
                                काश !!!!! यही मेरा प्यार हो.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content">
                            @*<div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                            Travel securely with us!
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s" style="font-size: 30px;">
                                        हाथ में कार हो,
                                        <br />
                                        म्यूजिक दमदार हो,
                                        <br />
                                        साथ बैठे मेरे यार हो,
                                        <br />
                                        और देखने वाले हर ग्राहक बोले,
                                        <br />
                                        काश !!!!! यही मेरा प्यार हो.
                                    </div>
                                </div>
                            </div>*@
                            @*<div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Everything your taxi business needs is already here! <br>Fast Yatra made for taxi
                                            service companies!
                                        </div>
                                    </div>
                                </div>*@
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-controls">
            <div class="slider-control slider-button-prev"><span><i class="las la-long-arrow-alt-left"></i></span>Prev</div>
            <div class="slider-pagination"></div>
            <div class="slider-control slider-button-next">
                Next<span><i class="las la-long-arrow-alt-right"></i></span>
            </div>
        </div>
    </div>
</div>

<section class="about-section padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-img">
                    <img class="about-img1 wow fade-in-left" data-wow-delay="200ms" src="~/Content/NewAssets/img/about-1.png" alt="img">
                    <img class="about-img2 wow fade-in-bottom" data-wow-delay="400ms" src="~/Content/NewAssets/img/about-2.png" alt="img">
                    <figure class="round-text"><img src="~/Content/NewAssets/img/experience-text-round.png" alt="img"></figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-heading mb-40 wow fade-in-right" data-wow-delay="200ms">
                    <h4><span></span>About Our Company</h4>
                    <h2>Feel the difference and Relaxation with Fast Yatra Company!</h2>
                    <p>
                        Welcome to Fast Yatra, your trusted partner in transportation. With years of experience in the industry, we are dedicated to providing safe, reliable, and efficient cab services to our valued customers. Our mission is to exceed your expectations by delivering unparalleled customer service, ensuring you reach your destination with comfort and peace of mind. As a local company, we take pride in being an integral part of the community, and we strive to contribute positively to its growth and development. Choose Fast Yatra for a hassle-free and enjoyable ride every time. Your journey, our commitment.
                    </p>
                </div>

                <ul class="about-info wow fade-in-right" data-wow-delay="400ms">
                    <li>
                        @*<img class="owner-thumb" src="~/Content/NewAssets/img/comment-1.png" alt="thumb">*@
                        <img src="~/Content/images/Kapil.png" alt="CEO Image" class="owner-thumb" />
                        <div class="owner">
                            <h4>Founder - CEO</h4>
                            @*<img class="signature" src="~/Content/NewAssets/img/signature.png" alt="signature">*@
                            <span>Kapil Tiwari</span>
                        </div>
                    </li>
                    <li>
                        <h2><span>Call For Taxi</span><a href="tel:9455036259">(+91) 9455036259</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="service-section bg-grey padding">
    <div class="bg-half"></div>
    <div class="container">
        <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
            <h4><span></span>What We Offer</h4>
            <h2 class="white">Start your journey with<br>Fast Yatra Taxi Company!</h2>
            <p>
                "Your Reliable Ride: Book Cabs Hassle-Free with Our Platform!"
            </p>
        </div>

        <div class="swiper-outside">
            <div class="service-carousel">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                            <div class="service-thumb">
                                <img src="~/Content/NewAssets/img/service-1.jpg" alt="img">
                                <div class="service-shape-wrap">
                                    <div class="service-shape"></div>
                                </div>
                                <div class="service-car"><img src="~/Content/NewAssets/img/car-1.png" alt="car"></div>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Regular Transport</a></h3>
                                <p>
                                    Everything your taxi business needs is already here! Fast Yatra made for taxi service
                                    companies!
                                </p>
                                <a class="read-more" href="#BookingSection1">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-item wow fade-in-bottom" data-wow-delay="400ms">
                            <div class="service-thumb">
                                <img src="~/Content/NewAssets/img/service-2.jpg" alt="img">
                                <div class="service-shape-wrap">
                                    <div class="service-shape"></div>
                                </div>
                                <div class="service-car"><img src="~/Content/NewAssets/img/car-1.png" alt="car"></div>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Airport Transport</a></h3>
                                <p>
                                    Everything your taxi business needs is already here! Fast Yatra made for taxi service
                                    companies!
                                </p>
                                <a class="read-more" href="#BookingSection1">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-item wow fade-in-bottom" data-wow-delay="600ms">
                            <div class="service-thumb">
                                <img src="~/Content/NewAssets/img/service-3.jpg" alt="img">
                                <div class="service-shape-wrap">
                                    <div class="service-shape"></div>
                                </div>
                                <div class="service-car"><img src="~/Content/NewAssets/img/car-1.png" alt="car"></div>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Luggage Transport</a></h3>
                                <p>
                                    Everything your taxi business needs is already here! Fast Yatra made for taxi service
                                    companies!
                                </p>
                                <a class="read-more" href="#BookingSection1">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/NewAssets/img/service-4.jpg" alt="img">
                                <div class="service-shape-wrap">
                                    <div class="service-shape"></div>
                                </div>
                                <div class="service-car"><img src="~/Content/NewAssets/img/car-1.png" alt="car"></div>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">City Transport</a></h3>
                                <p>
                                    Everything your taxi business needs is already here! Fast Yatra made for taxi service
                                    companies!
                                </p>
                                <a class="read-more" href="#BookingSection1">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-item">
                            <div class="service-thumb">
                                <img src="~/Content/NewAssets/img/service-5.jpg" alt="img">
                                <div class="service-shape-wrap">
                                    <div class="service-shape"></div>
                                </div>
                                <div class="service-car"><img src="~/Content/NewAssets/img/car-1.png" alt="car"></div>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Business Transport</a></h3>
                                <p>
                                    Everything your taxi business needs is already here! Fast Yatra made for taxi service
                                    companies!
                                </p>
                                <a class="read-more" href="#BookingSection1">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
            <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
        </div>
    </div>
</section>

<section class="booking-section" id="BookingSection1">
    <div class="container">
        <div class="row pos-relative padding">
            <div class="col-lg-4">
                <div class="booking-car wow fade-in-left" data-wow-delay="200ms"></div>
            </div>
            <div class="col-lg-8">
                <div class="booking-wrap">
                    <div class="section-heading mb-30">
                        <h4><span></span>Online Booking</h4>
                        <h2 class="white">Book Your Taxi Ride</h2>
                    </div>
                    <form action="/home/FastYatra" method="post">
                        @Html.Partial("_ResponseMessage")
                        <div class="booking-form">
                            <div class="form-field">
                                <i class="las la-user-tie"></i>
                                <input type="text" id="full-name" name="fullName" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="form-field">
                                <i class="las la-envelope-open"></i>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-field">
                                <i class="las la-mobile-phone"></i>
                                <input type="text" id="MobileNo" name="MobileNo" class="form-control" placeholder="Mobile No." required>
                            </div>
                            <div class="form-field">
                                <i class="las la-user-friends"></i>
                                <select name="passengers" id="passengers" class="niceSelect">
                                    <option value="1">1 Person</option>
                                    <option value="2">2 Person</option>
                                    <option value="3">3 Person</option>
                                    <option value="4">4 Person</option>
                                    <option value="5">5 Person</option>
                                </select>
                            </div>
                            <div class="form-field">
                                <i class="las la-map-marker"></i>
                                <input type="text" id="dropping" name="startDest" class="form-control dropping" placeholder="Start Destination" autocomplete="off" required>
                                <input type="hidden" id="dlat" />
                                <input type="hidden" id="dlng" />
                            </div>
                            <div class="form-field">
                                <i class="las la-map-marker"></i>
                                <input type="text" id="picking" name="endDest" class="form-control picking" placeholder="End Destination" autocomplete="off" required>
                                <input type="hidden" id="plat" />
                                <input type="hidden" id="plng" />
                                <input type="hidden" id="distance" />
                            </div>
                            <div class="form-field">
                                <i class="las la-cab"></i>
                                @*<select name="package-type" id="type" class="niceSelect">
                                        <option value="standard">Standard</option>
                                        <option value="business">Business</option>
                                        <option value="economy">Economy</option>
                                        <option value="vip-spacial">VIP Spacial</option>
                                        <option value="comfort">Comfort</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.VehicleId, new SelectList(ViewBag.VehiclesList, "Value", "Text"), "Select", new { @class = "niceSelect" })
                            </div>
                            <div class="form-field">
                                <i class="las la-calendar"></i>
                                <input type="text" id="ride-date" name="rideDate" class="form-control date-picker" placeholder="Select Date" required autocomplete="off">
                            </div>
                            <div class="form-field">
                                <i class="las la-clock"></i>
                                <input type="text" id="ride-time" name="rideTime" class="form-control time-picker" placeholder="Select Time" required autocomplete="off">
                            </div>
                            <div class="form-field">
                                <i class="las la-calendar"></i>
                                <input type="text" id="ride-date" name="ReturnDate" class="form-control date-picker" placeholder="Select Return Date" required autocomplete="off">
                            </div>
                            <div class="form-field">
                                <i class="las la-clock"></i>
                                <input type="text" id="ride-time" name="ReturnTime" class="form-control time-picker" placeholder="Select Return Time" required autocomplete="off">
                            </div>

                            <div class="form-field">
                                <i class="fa fa-rupee-sign"></i>
                                <input type="text" id="ride-time" name="TotalPrices" class="form-control totalPrices" placeholder="Total Price" disabled required>
                                <input type="hidden" name="TotalPrices" class="totalPrices" />
                            </div>
                            <div class="form-field">
                                <i class="fa fa-road"></i>
                                <input type="text" id="ride-time" name="rideTime" class="form-control totalKm" placeholder="Total K/M" disabled required>
                            </div>

                            <div class="form-field">
                                <button id="submit" class="default-btn" type="submit">Book Your Taxi</button>
                            </div>
                        </div>
                        @*<div id="form-messages" class="alert" role="alert"></div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing-section bg-grey bd-bottom padding">
    <div class="container">
        <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
            <h4><span></span>Lets Go With Us!</h4>
            <h2>Choose Your Taxi to Ride!</h2>
            <p>
                "Your Reliable Ride: Book Cabs Hassle-Free with Our Platform!"
            </p>
        </div>
        <ul class="nav pricing-tab-menu" id="pricing-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="hybrid-taxi" data-bs-toggle="tab" data-bs-target="#hybrid-taxi-content" type="button" role="tab" aria-controls="hybrid-taxi-content" aria-selected="true">Hybrid Taxi</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="town-taxt" data-bs-toggle="tab" data-bs-target="#town-taxi-content" type="button" role="tab" aria-controls="town-taxi-content" aria-selected="false">
                    Town
                    Taxi
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="limousine-taxi" data-bs-toggle="tab" data-bs-target="#limousine-taxi-content" type="button" role="tab" aria-controls="limousine-taxi-content" aria-selected="false">Limousine Taxi</button>
            </li>
        </ul>

        <div class="tab-content" id="pricing-tab-content">
            <div class="tab-pane fade show active" id="hybrid-taxi-content" role="tabpanel" aria-labelledby="hybrid-taxi-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @* <div class="price">₹11.00/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Santro</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹11.00</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*   <div class="price">₹16.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Ertiga</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹16.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>7 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹12.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Dezire</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹12.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="town-taxi-content" role="tabpanel" aria-labelledby="town-taxi-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹11.00/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Santro</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹11.00</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹16.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Ertiga</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹16.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>7 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹12.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Dezire</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹12.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="limousine-taxi-content" role="tabpanel" aria-labelledby="limousine-taxi">
                <div class="row">
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹11.00/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Santro</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹11.00</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹16.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Ertiga</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹16.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>7 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-padding">
                        <div class="pricing-item">
                            <div class="pricing-head-wrap">
                                <div class="pricing-car">
                                    <img src="~/Content/NewAssets/img/pricing-car.png" alt="car">
                                    @*<div class="price">₹12.20/km</div>*@
                                </div>
                            </div>
                            <div class="pricing-head">
                                <h3><a href="taxi-details.html">Dezire</a></h3>
                                <span class="location">Ayodhya</span>
                            </div>
                            <ul class="pricing-list">
                                <li>Initial Charge Intercity: <span>₹200.00</span></li>
                                <li>Initial Charge Outstation: <span>₹250.00</span></li>
                                <li>Per Mile/KM: <span>₹12.20</span></li>
                                <li>Per Stopped Trafic: <span>₹1.50</span></li>
                                <li>Passengers: <span>4 Person</span></li>
                                <li><a href="#BookingSection1" class="default-btn">Book Taxi Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="download-section bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading wow fade-in-left" data-wow-delay="200ms">
                    <h4><span></span>Online Booking</h4>
                    <h2>Get the Fast Yatra Mobile app and Start Your Journey!</h2>
                    <p>
                        "Your Reliable Ride: Book Cabs Hassle-Free with Our Platform!"
                    </p>
                    <ul class="app-feature">
                        <li>
                            <i><img class="feature-icon" src="~/Content/NewAssets/img/icon-navigator.svg" alt="icon"></i>
                            <h3>Easy to Search <br> Fast Yatra Taxi!</h3>
                        </li>
                        <li>
                            <i><img class="feature-icon" src="~/Content/NewAssets/img/icon-clock.svg" alt="icon"></i>
                            <h3>Quick Pickups To <br> Save Time!</h3>
                        </li>
                        <li>
                            <i><img class="feature-icon" src="~/Content/NewAssets/img/icon-docs.svg" alt="icon"></i>
                            <h3>Inclusive Rates To<br> Enjoy Ride!</h3>
                        </li>
                    </ul>
                    <div class="download-btn">
                        <a href="#"><img src="~/Content/NewAssets/img/google-play.svg" alt="PlayStore"></a>
                        <a href="#"><img src="~/Content/NewAssets/img/app-store.svg" alt="AppStore"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="taxi-holder">
                    <div class="taxi wow fade-in-left" data-wow-delay="300ms"></div>
                    <div class="mockup wow fade-in-bottom" data-wow-delay="400ms"></div>
                    <div class="charecter wow fade-in-right" data-wow-delay="500ms"></div>
                    <img class="location-marker" src="~/Content/NewAssets/img/location-marker.png" alt="location">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-section bg-grey">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading mb-10">
                    <h4><span></span>Clients Testimonial</h4>
                    <h2>Fast Yatra Passenger Reviews...</h2>
                    <p>
                        "Your Reliable Ride: Book Cabs Hassle-Free with Our Platform!"
                    </p>
                </div>
                <div class="swiper-outside testi-pagination">
                    <div class="testimonial-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>
                                        The Fast Yatra app was easy to navigate, and the interface was intuitive. I could quickly enter my pick-up and drop-off locations, choose the type of cab I wanted, and confirm the booking with just a few taps.
                                    </p>
                                    <div class="testi-author">
                                        <div class="author-thumb">
                                            <img src="~/Content/images/blank_img.jpg" alt="author">
                                        </div>
                                        <div class="author-info">
                                            <h3>Shivam <span>Customer</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>
                                        The cab arrived right on time, as per my scheduled booking. I appreciated the driver's professionalism and punctuality. It made my journey stress-free, knowing that I wouldn't be late for my appointment.
                                    </p>
                                    <div class="testi-author">
                                        <div class="author-thumb">
                                            <img src="~/Content/images/blank_img.jpg" alt="author">
                                        </div>
                                        <div class="author-info">
                                            <h3>Shudhanshu <span>Customer</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>
                                        The cab was clean and well-maintained, making the journey comfortable. The driver had a pleasant demeanor and drove responsibly, ensuring a safe trip.
                                    </p>
                                    <div class="testi-author">
                                        <div class="author-thumb">
                                            <img src="~/Content/images/blank_img.jpg" alt="author">
                                        </div>
                                        <div class="author-info">
                                            <h3>Deepika <span>Customer</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-wrap">
                    <div class="section-heading mb-30 wow fade-in-right" data-wow-delay="200ms">
                        <h4 class="white"><span></span>Why Choose Us!</h4>
                        <h3 class="white">Why Ride with Fast Yatra?</h3>
                        <p class="white">
                            "Safe and comfortable Rides!"
                        </p>
                    </div>

                    <ul class="ridek-features">
                        <li class="wow fade-in-right" data-wow-delay="300ms">
                            <div class="feature-icon">
                                <i class="las la-gem"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Safe Guarantee</h3>
                                <p style="font-size: 15px;">Our priority is your safety and comfort. And we ensure that all our vehicle are well maintained and equipped with necessary safety features.</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="400ms">
                            <div class="feature-icon">
                                <i class="las la-taxi"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Fast Pickups</h3>
                                <p style="font-size: 15px;">We provide guaranteed pickup within 45-60 minutes after booking confirmation.</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="500ms">
                            <div class="feature-icon">
                                <i class="las la-mobile"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Customer Support</h3>
                                <p style="font-size: 15px;">Our customer support team is available 24/7 assist you with your queries.</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="500ms">
                            <div class="feature-icon">
                                <i class="las la-medkit"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Extra benifit</h3>
                                <p style="font-size: 15px;">We provide basic medical kit in case of emergency with complimentary water with every ride.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section padding">
    <div class="cta-men wow fade-in-bottom" data-wow-delay="200ms"></div>
    <div class="container">
        <div class="cta-content">
            <h2>Call Us Now <span>Book Your Taxi</span> <br> For Your Next Ride!</h2>
            <p>
                We have carefully curated budget-friendly packages that offer exceptional value for money.
            </p>
            <p>
                From discounted rates on extended rentals to exclusive deals for specific destinations,
            </p>
            <p>
                these packages are designed to cater to your affordability needs.
            </p>
            <div class="cta-call">
                <i class="las la-phone-volume"></i>
                <p><span>Call For Taxi</span><a href="tel:9455036259">(+91) 9455036259</a></p>
            </div>
        </div>
    </div>
</section>

@*<section class="blog-section bg-grey padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Recent Posts!</h4>
                <h2>News And Insights!</h2>
                <p>
                   "Your Reliable Ride: Book Cabs Hassle-Free with Our Platform!"
                </p>
            </div>

            <div class="row grid-post">
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="~/Content/NewAssets/img/post-1.jpg" alt="post">
                            <a href="blog-details.html" class="post-category">Business</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i>Jan 01 2022</li>
                                <li><i class="las la-user"></i>Elliot Alderson</li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="blog-details.html" class="hover">
                                        How to start initiating an startup in few
                                        days.
                                    </a>
                                </h3>
                                <p>
                                    Financial experts support or help you to to find out which way you can raise your
                                    funds more...
                                </p>
                                <a href="blog-details.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="~/Content/NewAssets/img/post-2.jpg" alt="post">
                            <a href="blog-details.html" class="post-category">Startup</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i>Jan 01 2022</li>
                                <li><i class="las la-user"></i>Elliot Alderson</li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="blog-details.html">Financial experts support help you to find out.</a>
                                </h3>
                                <p>
                                    Financial experts support or help you to to find out which way you can raise your
                                    funds more...
                                </p>
                                <a href="blog-details.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="~/Content/NewAssets/img/post-3.jpg" alt="post">
                            <a href="blog-details.html" class="post-category">Finance</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i>Jan 01 2022</li>
                                <li><i class="las la-user"></i>Elliot Alderson</li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="blog-details.html">Innovative business all over the world.</a>
                                </h3>
                                <p>
                                    Financial experts support or help you to to find out which way you can raise your
                                    funds more...
                                </p>
                                <a href="blog-details.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@



<script>

    $(document).on('keydown', '.dropping', function () {
       /* debugger;*/
        var id = this.id;
        var splitid = id.split('_');
        var index = splitid[1];

        var droping = $('.dropping').val();

        if (droping.length >= 3) {

            $('.dropping').autocomplete({
                //source: EmployeeTags
                source: function (request, response) {
                    /*debugger;*/
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '/api/WebApi/getAddress',
                        data: { term: request.term.toUpperCase() },
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            debugger;
                            response($.map(data.features, function (item) {
                                /*debugger;*/
                                return {
                                    label: item.properties.formatted,
                                    val: item.properties.lat + ',' + item.properties.lon
                                };

                            }))
                        },
                        error: function (e) {
                            debugger
                        }
                    });
                @*$.ajax({
                    url: "@Url.Action("getAddress", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term.toUpperCase() },
                    success: function (data) {
                       /* debugger;*/
                        response($.map(data, function (item) {
                            /*debugger;*/
                            return {
                                label: item.formatted,
                                val: item.lat + ',' + item.lon
                            };

                        }))

                    }, error: function (data) {
                        //alert('Hello');
                        $('#EmployeeId_' + index).val(0);
                    }
                })*@
                },
                select: function (e, g) {
                    /* debugger;*/
                    //$('#EmployeeId_' + index).val(0);
                    //$('#EmployeeId_' + index).val(g.item.val);
                    $("#dlat").val(g.item.val);
                },
                minLength: 1,
                messages: {
                    noResults: "", results: ""
                }
            });
        }
    });

    $(document).on('keydown', '.picking', function () {
       /* debugger;*/
        var id = this.id;
        var splitid = id.split('_');
        var index = splitid[1];

        var picking = $('.picking').val();

        if (picking.length >= 3) {
            $('.picking').autocomplete({
                //source: EmployeeTags
                source: function (request, response) {
                    /*debugger;*/

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '/api/WebApi/getAddress',
                        data: { term: request.term.toUpperCase() },
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            debugger;
                            response($.map(data.features, function (item) {
                                /*debugger;*/
                                return {
                                    label: item.properties.formatted,
                                    val: item.properties.lat + ',' + item.properties.lon
                                };

                            }))
                        },
                        error: function (e) {
                            debugger
                        }
                    });

                @*$.ajax({
                    url: "@Url.Action("getAddress", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term.toUpperCase() },
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            debugger;
                            return {
                                label: item.formatted,
                                val: item.lat + ',' + item.lon
                            };

                        }))

                    }, error: function (data) {
                        //alert('Hello');
                        $('#EmployeeId_' + index).val(0);
                    }
                })*@
                },
                select: function (e, g) {
                    /*debugger;*/
                    $("#plat").val(g.item.val);
                },
                minLength: 1,
                messages: {
                    noResults: "", results: ""
                }
            });
        }
    });

    $('.dropping').on("change", function () {
        $('.dropping').val();

        @*if (dropping != null && dropping != "" && dropping != undefined) {
            $.ajax({
                url: "@Url.Action("GetCoordinates", "Home")",
                type: "POST",
                dataType: "json",
                data: { address: dropping },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#dlat").val(data.lat);
                        $("#dlng").val(data.lng);
                    }
                }
            })
        }*@
    });

    $('.picking').on("change", function () {
        var picking = $('.picking').val();

        @*if (picking != null && picking != "" && picking != undefined) {
            $.ajax({
                url: "@Url.Action("GetCoordinates", "Home")",
                type: "POST",
                dataType: "json",
                data: { address: picking },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#plat").val(data.lat);
                        $("#plng").val(data.lng);
                        GetCalculateDistance();
                    }

                }
            })
        }*@
    });

    function GetCalculateDistance() {
        debugger;
        var source = {
            lat: $("#dlat").val(),
           lng: $("#dlng").val()
        }
        var destination = {
            lat: $("#plat").val(),
            lng: $("#plng").val()
        }
        if (source != null && destination != null) {
            $.ajax({
                url: "@Url.Action("GetCalculateDistance", "Home")",
                type: "POST",
                dataType: "json",
                data: { source: source, destination: destination },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#distance").val(data);

                        var TotalPrice = 0;
                        TotalPrice = (parseFloat(data) * 12 + 250);
                        $(".totalPrices").val(TotalPrice.toFixed(2));
                    }

                }
            });
        } else {
            alert("Something went wrong");
        }
    }

    $('#VehicleId').on("change", function () {
        debugger;
        var priceKm = $('#VehicleId').val();

        var dl = $("#dlat").val();
        var dlaaray = dl.split(',');
        var dlat = dlaaray[0];
        var dlng = dlaaray[1];
        //var index = splitid[1];

        if (dl == "" || dl == undefined || dl == null) {
            $("#dlat").val('');
            $("#dropping").val('');
            $('#VehicleId').val('');
            swal("", "Please select address from the suggestion box", "error");
            return false;
        }

        var pl = $("#plat").val();
        var plaaray = pl.split(',');
        var plat = plaaray[0];
        var plng = plaaray[1];

        if (pl == "" || pl == undefined || pl == null) {
            $("#picking").val('');
            $("#plat").val('');
            $('#VehicleId').val('');
            swal("", "Please select address from the suggestion box", "error");
            return false;
        }

        var source = {
            lat: dlat,
            lng: dlng
        }
        var destination = {
            lat: plat,
            lng: plng
        }
        if (source != null && destination != null) {
            $.ajax({
                url: "@Url.Action("GetCalculateDistance", "Home")",
                type: "POST",
                dataType: "json",
                data: { source: source, destination: destination },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#distance").val(data);

                        var TotalPrice = 0;
                        TotalPrice = (parseFloat(data) * parseFloat(priceKm) + 250);
                        $(".totalPrices").val(TotalPrice.toFixed(2));
                        $(".totalKm").val(data);
                    }

                }
            });
        } else {
            alert("Something went wrong");
        }

    })

</script>