@model CabBooking.Models.Fares
@{
    ViewBag.Title = "AddFare";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Fare</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i> <a class="parent-item" href="index.html">Home</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">Fare Management</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Fare</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Add Fare</header>
                        <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                            <li class="mdl-menu__item">
                                <i class="material-icons">assistant_photo</i>Action
                            </li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">print</i>Another action
                            </li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">favorite</i>Something else
                                here
                            </li>
                        </ul>
                    </div>
                    @using (Html.BeginForm("AddFare", "Admin", FormMethod.Post))
                    {
                        @Html.Partial("_ResponseMessage")
                        <div class="card-body row">
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                   
                                    @Html.TextBoxFor(x => x.VehicleType, new { @class = "mdl-textfield__input", @id = "vtype", @readonly = "readonly", @tabindex = "-1" })

                                    <label for="vtype" class="pull-right margin-0">
                                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                    </label>
                                    <label for="vtype" class="mdl-textfield__label">Vehicle Type</label>
                                    <ul data-mdl-for="vtype" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                        <li class="mdl-menu__item" data-val="1">SUV</li>
                                        <li class="mdl-menu__item" data-val="2">SEDAN</li>
                                        <li class="mdl-menu__item" data-val="3">Crossover</li>
                                        <li class="mdl-menu__item" data-val="4">Coupe</li>
                                        <li class="mdl-menu__item" data-val="5">Van</li>
                                        <li class="mdl-menu__item" data-val="6">Wagon</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    
                                    @Html.TextBoxFor(x => x.FareKM, new { @class = "mdl-textfield__input", @id = "txtFareKM",@pattern="-?[0-9]*(\\.[0-9]+)?" })
                                    <label class="mdl-textfield__label" for="txtFareKM">
                                        Fare Per KM (in
                                        $)
                                    </label>
                                    <span class="mdl-textfield__error">Number required!</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    @Html.TextBoxFor(x => x.MinFare, new { @class = "mdl-textfield__input", @id = "txtMinFare", @pattern = "-?[0-9]*(\\.[0-9]+)?" })
                                 
                                    <label class="mdl-textfield__label" for="txtMinFare">
                                        Minimum Fare (in $)
                                    </label>
                                    <span class="mdl-textfield__error">Number required!</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">

                                    @Html.TextBoxFor(x => x.MinDistance, new { @class = "mdl-textfield__input", @id = "txtMinDist", @pattern = "-?[0-9]*(\\.[0-9]+)?" })
                                    <label class="mdl-textfield__label" for="txtMinDist">
                                        Minimum Distance (in
                                        KM)
                                    </label>
                                    <span class="mdl-textfield__error">Number required!</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    @Html.TextBoxFor(x => x.WaitFare, new { @class = "mdl-textfield__input", @id = "txtWaitFare", @pattern = "-?[0-9]*(\\.[0-9]+)?" })
                                 
                                    <label class="mdl-textfield__label" for="txtWaitFare">
                                        Waiting Fare (in
                                        $)
                                    </label>
                                    <span class="mdl-textfield__error">Number required!</span>
                                </div>
                            </div>
                            <div class="col-lg-12 p-t-20 text-center">
                                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>
                                <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>

