@model CabBooking.Models.Fares
@{
    ViewBag.Title = "AllFare";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Fare List</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i> <a class="parent-item" href="@Url.Action("Dashboard","Admin")">Home</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Fare Management</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Fare List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="card-head">
                        <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                            <li class="mdl-menu__item">
                                <i class="material-icons">assistant_photo</i>Action
                            </li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">print</i>Another action
                            </li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">favorite</i>Something else
                                here
                            </li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="center"> Vehicle Type </th>
                                        <th class="center"> Fare Per KM </th>
                                        <th class="center"> Minimum Fare </th>
                                        <th class="center"> Minimum Distance</th>
                                        <th class="center"> Waiting Fare</th>
                                        <th class="center"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.list.Count >= 0)
                                                {
                                                    int i = 1;
                                                    foreach (var itm in Model.list)
                                                    {

                                            <tr class="odd gradeX">
                                                <td class="center">@i</td>
                                                <td class="center">@itm.VehicleType</td>
                                                <td class="center">@itm.FareKM</td>
                                                <td class="center">@itm.MinFare</td>
                                                <td class="center">@itm.MinDistance</td>
                                                <td class="center">@itm.WaitFare</td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

