@model CabBooking.Models.AddVehicle
@{
    ViewBag.Title = "AllVehicle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">All Vehicles</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i> <a class="parent-item" href="@Url.Action("Dashboard","Admin")">Home</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Vehicle</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">All Vehicles</li>
                </ol>
            </div>
        </div>
        <div class="row">
            @if (Model != null && Model.list.Count > 0)
            {
                foreach (var itm in Model.list)
                {
                <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                    <div class="blogThumb">
                        @if (!String.IsNullOrEmpty(itm.VehiclePhoto))
                        {
                        <div class="thumb-center"><img class="img-responsive" alt="user" src="@itm.VehiclePhoto.Replace("~", "")"></div>
                        }
                        <div class="vehicle-name cyan-bgcolor">
                            <div class="user-name">Vehicle Model</div>
                        </div>
                        <div class="vehicle-box">
                            <p><strong>Fuel :</strong> @itm.Fule</p>
                            <p><strong>Purchase:</strong> @itm.Purchase</p>
                            <p><strong>Seating Capacity:</strong> @itm.SeatingCapacity</p>
                            <p><strong>Type:</strong> @itm.VehicleType</p>
                            <p><strong>Driver Name:</strong> @itm.DriverName</p>
                            <a href="@Url.Action("AddImages",new { id=itm.Id })" class="btn btn-info btn-sm">
                                <span class="fa fa-picture-o"></span>
                            </a>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
